{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@AcmeAssetBundle/Resources/sass/main.scss' filter='scss' output='*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h2>Welcome to Symfony2 + Assetic experiments</h2>
    {% block content %}{% endblock %}
{% endblock %}
